ul:nth-of-type(2) {
    background-color: yellow;
} 

.box {
    height: 40px;
    border: 5px solid purple;


}
.purple p {
    color:red;
}


.text p {
    background-color: blue;
}


.text strong,span {
    background-color: green;
}

.text i {
    color:red
}

.text a:nth-of-type(2){
    background-color: yellow;
}