body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.calculator {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.output {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}


.input-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.buttons button {
    width: 100%;
    padding: 15px;
    margin: 5px;
    font-size: 16px;
    background-color:lightgray;
    color: black;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: grey;
}

#reset {
    background-color: orange;
}

