%primary-btn {
    color:$color-white;
    background-color: transparent;
    text-transform:uppercase;
    font-size: 14px;
    padding: 1rem 2rem;
    border-radius: 6px;
    border:1px solid $color-white;
    cursor: pointer;
    transition: all 0.6s;
    &:hover {
        background-color: rgb(103,104,119);
    }
}

%secondary-btn {
    background-color:$color-white;
    font-size: 14px;
    padding: 1rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.6s;
    &:hover {
        background-color: gray;
        color:$color-white;
    }
}