.table-products{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Product-List{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.actions{
    display: flex;
align-items: center;
    gap: 10px;
}
.btns{
    border: none;
    padding: 8px 17px;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s;
}

.btn-edit{
    background-color:BLACK;
}

.btn-delete{
    background-color:black;
}
  