body {
    text-align: left;
    margin-top: 50px;
}

.controls {
    margin-bottom: 30px;
}

button {
    padding: 6px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

input {
    padding: 7px;
    font-size: 16px;
    width: 200px;
    margin-left: 10px;
}

.paragraphs p {
    font-size: 18px;
    color: black;
    margin: 10px 0;
    padding: 10px;
}
