
.img-blue-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-blue-box img{
    width: 140%;   
}
.blue-box{
    position: absolute;
    top: 78%;
    left: 43%;
    width: 430px;
    background-color: #46DDB0;
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
}
.blue-box h1{
  font-size: 3rem;
}
.text-col{
    padding: 10rem;
    text-decoration: none;
    line-height: normal ;
}