* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.titles span {
    color: grey;
}


.cards {
    display: flex;
    padding:40px;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    gap:20px;
    width:100%;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 10px; 
    padding: 15px; 
    width: 300px; 
    height: 400;
    box-sizing: border-box; 
}

.card img {
    max-width: 100%;
    height:auto; 
}

.titles {
    margin: 50px 50px;
    width:30%;
}

.container {
    display: flex;
}

.card span {
    float: right;
}

.card p {
    color: gray;
}