body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.card {
    width: 300px;
    border: 2px solid grey; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: white; 
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    margin: 20px;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    color: #555;
}

.trending-label {
 
        position: absolute;
        bottom: 40%;
        background-color: white;
        width: 70px;
        padding: 6px;
        text-align: center;
        left:6%;
    
}

.card-content span{
    margin: 0;
    color: grey;
}

.card-title {
    margin:5%
}